<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="./css/output.css" rel="stylesheet" />

        <title>Login</title>
    </head>
    <body>
        <h1>Login</h1>
        <% if (error) { %>
        <p style="color: red"><%= error %></p>
        <% } %> <% if (errors) { %>
        <ul>
            <% errors.forEach(error => { %>
            <li style="color: red"><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <form class="bg-black" action="/login" method="POST">
            <label for="username">Username</label>
            <input
                id="username"
                name="username"
                placeholder="username"
                type="text"
                required
            />

            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />

            <button class="bg-blue-500 text-white p-2 rounded" type="submit">
                Log In
            </button>
        </form>
        <% if (currentUser) { %>
        <p>Logged in as: <span><%= currentUser.first_name %></span></p>
        <% } else { %>
        <p>You are not logged in.</p>
        <% } %>
        <a href="/signup">Sign up</a>
    </body>
</html>
