<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link href="/css/output.css" rel="stylesheet" />

        <title>New Message</title>
    </head>
    <body class="w-full bg-zinc-200">
        <nav
            class="bg-gray-100 b w-full border-b-2 border-black sticky top-0 z-50 mb-12"
        >
            <div
                class="max-w-screen flex flex-col md:flex-row items-center justify-between mx-auto p-6"
            >
                <a class="hover:underline" href="/messages">Back to messages</a>
            </div>
        </nav>

        <h1 class="text-3xl text-blue-600 font-bold text-center">
            New Message
        </h1>

        <div class="mx-auto max-w-xl p-6">
            <form
                class="flex flex-col gap-2 mt-4 rounded-lg bg-white shadow-lg shadowgray-500 p-6"
                action="/messages/new"
                method="POST"
            >
                <label
                    for="title"
                    class="block text-sm font-medium text-gray-900"
                    >Title:</label
                >
                <input
                    type="text"
                    id="title"
                    placeholder="Title"
                    name="title"
                    class="block w-full rounded-md border-0 py-1.5 mb-4 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                />
                <label
                    for="text"
                    class="block text-sm font-medium text-gray-900"
                    >Message:</label
                >
                <textarea
                    id="text"
                    name="text"
                    rows="3"
                    placeholder="Message"
                    class="block w-full rounded-md border-0 py-1.5 mb-2 resize-none text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                    required
                ></textarea>
                <button
                    class="bg-blue-600 hover:bg-blue-700 text-white p-2 rounded w-full"
                    type="submit"
                >
                    Create post
                </button>
            </form>
        </div>
    </body>
</html>
