<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <link href="/css/output.css" rel="stylesheet" />

        <title>Sign Up</title>
    </head>
    <body
        class="w-full h-screen bg-zinc-200 flex flex-col items-center justify-center"
    >
        <h1
            class="text-4xl md:text-5xl text-blue-600 text-center font-bold tracking-wide mb-6"
        >
            Messaging Members
        </h1>
        <p class="text-center text-lg mb-2">Sign up to view messages</p>

        <% if (errors) { %>
        <ul>
            <% errors.forEach(error => { %>
            <li style="color: red"><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <div class="w-full max-w-md px-4">
            <form
                class="flex flex-col gap-4 mt-4 rounded-lg bg-white shadow-lg shadowgray-500 p-6"
                action="/signup"
                method="POST"
            >
                <div>
                    <label
                        class="block font-medium text-gray-900 mb-2"
                        for="firstname"
                        >First Name</label
                    >
                    <input
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        id="firstname"
                        name="firstname"
                        placeholder="First Name"
                        type="text"
                        required
                    />
                </div>
                <div>
                    <label
                        class="block font-medium text-gray-900 mb-2"
                        for="lastname"
                        >Last Name</label
                    >
                    <input
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        id="lastname"
                        name="lastname"
                        placeholder="Last Name"
                        type="text"
                        required
                    />
                </div>

                <div>
                    <label
                        class="block font-medium text-gray-900 mb-2"
                        for="username"
                        >Email</label
                    >
                    <input
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        id="username"
                        name="username"
                        placeholder="Username"
                        type="email"
                        required
                    />
                </div>

                <div>
                    <label
                        class="block font-medium text-gray-900 mb-2"
                        for="password"
                        >Password</label
                    >
                    <input
                        class="block w-full rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6"
                        id="password"
                        name="password"
                        type="password"
                        placeholder="Password"
                        required
                    />
                </div>

                <button
                    class="bg-blue-600 hover:bg-blue-700 text-white p-2 rounded"
                    type="submit"
                >
                    Sign Up
                </button>

                <a
                    class="text-center text-blue-600 font-semibold hover:underline"
                    href="/"
                >
                    Already have an account? Log in
                </a>
            </form>
        </div>
    </body>
</html>
