<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>Sign Up</title>
    </head>
    <body>
        <h1>Sign Up</h1>
        <% if (errors) { %>
        <ul>
            <% errors.forEach(error => { %>
            <li style="color: red"><%= error.msg %></li>
            <% }) %>
        </ul>
        <% } %>
        <form action="/signup" method="POST">
            <!-- Ensure the action points to your signup route -->
            <label for="firstname">First Name</label>
            <input
                id="firstname"
                name="firstname"
                placeholder="First Name"
                type="text"
                required
            />

            <label for="lastname">Last Name</label>
            <input
                id="lastname"
                name="lastname"
                placeholder="Last Name"
                type="text"
                required
            />

            <label for="username">Email</label>
            <input
                id="username"
                name="username"
                placeholder="Username"
                type="email"
                required
            />

            <label for="password">Password</label>
            <input id="password" name="password" type="password" required />

            <button type="submit">Sign Up</button>
        </form>
        <p>Already have an account? <a href="/">Log in</a></p>
    </body>
</html>
